.homeDiv{
    background: #FFFFFF;
    box-shadow: 0px 1px 5px #D8D8D8;
    border-radius: 4px;
    margin: 7%;
    margin-inline: 10%;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 1px;
  }

